/* General body styles */
body {
  background-color: #e5ddd5; /* WhatsApp background color */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* WhatsApp font */
}

/* Styling the main App container */
.App {
  text-align: center;
  max-width: 728px;
margin: 0 auto;
position: relative;
}

form {
  position: fixed;
  bottom: 0;
  left: 50%;
transform: translateX(-50%);
width: 100%;
max-width: 728px;
display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
}

/* Header styles */
.App header {
  background-color: #075E54; /* WhatsApp header color */
  color: #fff;
  height: 10vh;
  min-height: 60px;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Styling for logout and settings icon using pseudo-elements */
.sign-out::before {
  content: '\f08b'; /* FontAwesome icon unicode for sign-out */
  font-family: 'Font Awesome 5 Free';
  padding-right: 10px;
}

/* Main chat area styling */
main {
  margin-top: 60px; /* Adjusted margin to accommodate fixed header */
  height: calc(100vh - 160px);
  overflow-y: scroll;
  background: #fff;
}

/* Form styling */

form input {
  flex: 1;
  height: 40px; /* Fixed height for input */
  background: #fff;
  border: none;
  border-radius: 18px; /* Rounded input */
  padding-left: 20px;
}

form button {
  background-color: #25D366; /* WhatsApp green for buttons */
  border-radius: 50%; /* Circular button */
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

form button::before {
  content: '\f1d8'; /* FontAwesome paper plane icon */
  font-family: 'Font Awesome 5 Free';
  color: #fff;
}

/* Message styling */
.message {
  display: flex;
  margin: 5px 10px;
  align-items: flex-end;
}

.sent {
  justify-content: flex-end;
}

.sent p, .received p {
  max-width: 240px;
  padding: 8px 10px;
  border-radius: 7.5px;
  margin: 2px;
  font-size: 0.95rem;
}

.sent p {
  background-color: #dcf8c6; /* Light green for sent messages */
}

.received p {
  background-color: #fff; /* White for received messages */
  border: 1px solid #eee;
}

/* Image styling */
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.sign-out {
  padding: 8px 16px;
  background-color: #128C7E; /* Slightly different shade of WhatsApp green for contrast */
  color: white;
  border: none;
  border-radius: 20px; /* Rounded borders */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

.sign-out:hover {
  background-color: #075E54; /* Darker on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adding subtle shadow on hover for depth */
}

